@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-eggplant: #281e36;
  --color-cream: #da5f36;
  --color-rust: #82673f;
  --color-smoke: #857473;
  --color-black: #000000;
}

body {
  font-family: "Roboto", serif;
}

.navbar-brand img {
  max-height: 40px;
  margin-right: 10px;
  max-width: 200px;
}

.nav-item .nav-link {
  color: white !important;
}

.nav-item .nav-link:hover {
  color: var(--color-rust) !important;
}

.dropdown-menu .dropdown-menu {
  left: 100%;
  top: 0;
  margin-top: -1px;
}

.sub-dropdown-btn:hover {
  color: var(--color-rust) !important;
}

.dropdown-toggle.show {
  color: var(--color-rust) !important;
}

.dropend-title {
  color: var(--color-eggplant);
  /* border-bottom: 1px solid var(--color-smoke); */
}

.accordion-item {
  border-radius: 0 !important;
}

.accordion-header button {
  font-weight: bold !important;
  border-radius: 0 !important;
}

.form-check-input {
  border-radius: 0 !important;
  margin-top: 0 !important;
  border-color: var(--color-smoke);
}

.form-check-label {
  color: var(--color-cream);
}

.input-group .input-group-text {
  border-radius: 0;
}

.input-group .form-control {
  border-radius: 0;
}

.see-more {
  cursor: pointer;
  color: var(--color-smoke);
  text-decoration: underline;
  margin-top: 0.5rem;
  display: inline-block;
}

#filterButtons .btn {
  border-radius: 0 !important;
}

.product-card {
  border-radius: 0 !important;
  min-height: 320px;
}

.product-card img {
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin: auto;
}

.pagination .page-item .page-link {
  color: gray;
  border-radius: 0 !important;
}

.pagination .page-item.active .page-link {
  background-color: black;
  border-color: black;
  color: white;
}

.pagination .page-item.disabled .page-link {
  background-color: transparent;
  color: lightgray;
  border-color: lightgray;
}

.page-link i {
  pointer-events: none;
}

i.bi {
  pointer-events: none;
}

.product-image {
  max-height: 500px;
}
